# Database Selector: 'mysql' or 'supabase'
DB_TYPE=mysql

# MySQL connection settings
DB_HOST=127.0.0.1
DB_PORT=3308
DB_USER=lavitex_user
DB_PASSWORD=lavitex_password
DB_NAME=lavitex_db

# Supabase configuration
NEXT_PUBLIC_SUPABASE_URL=your-project-url.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=your-anon-key

# Add other environment variables here
# NODE_ENV=production
# SMTP Configuration
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_USER=your_email
SMTP_PASS=your_pass
CONTACT_EMAIL_DESTINATION=your_email_destination